/* .like-blogPage {
  position: relative;
  left: 119px;
} */

.outlined {
  outline: 10px solid red;
  background: transparent;
}

.offset {
  outline-offset: -10px;
}

.col-md-offset-1 {
    margin-left: 0%;
    position: relative;
    left: 17%;
}
.col-md-2 {
    width: 16.66666667%;
    position: relative;
    left: 17%;
}