.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  position: relative;
  float: left;
  left: 1%;
  top: -7vh;
  text-decoration: none !important;
}
.beginYapping {
  color: whitesmoke !important;
  text-decoration: none;
}
/* iphone 6 portrait */
@media only screen and (max-width: 375px) {
  .beginYapping {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-color: lightcyan;
    font-family: sans-serif !important;
    border-radius: 2em;
    position: relative;
    left: 4em !important;
    top: -2vh !important;
    text-decoration: none;
  }
}
/* iphone 7 portrait */
@media only screen and (max-width: 414px) {
  .beginYapping {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-color: lightcyan;
    font-family: sans-serif !important;
    border-radius: 2em;
    position: relative;
    left: 8em !important;
    top: 41vh !important;
    text-decoration: none;
  }
}
/* laptop portrait */
@media only screen and (max-width: 1280px) {
  .beginYapping {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-color: lightcyan;
    font-family: sans-serif !important;
    border-radius: 2em;
    position: relative;
    left: 14em;
    top: -6vh;
    text-decoration: none !important;
  }
}
/* laptop bigger portrait */
@media only screen and (max-width: 1440px) {
  .beginYapping {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-color: #78ACD8;
    font-family: sans-serif !important;
    border-radius: 2em;
    position: absolute;
    left: 14em;
    top: 9em;
    text-decoration: none !important;
  }
}
