.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  position: relative;
  float: left;
  left: 1%;
  top: -7vh;
}

/* iphone 6 portrait */
@media only screen and (max-width: 400px) {
  .startyapping {
    position: relative;
    float: left;
    display: inline-block;
    top: -5vh;
    left: 64%;
    background: lightcyan;
    border-radius: 2em;
  }
}
/* iphone 7 portrait */
@media only screen and (max-width: 414px) {
  .beginYapping {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-color: lightcyan;
    font-family: sans-serif !important;
    border-radius: 2em;
    position: relative;
    left: 8em !important;
    top: 0vh !important;
  }
}
/* laptop portrait */
@media only screen and (max-width: 1280px) {
  .beginYapping {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-color: lightcyan;
    font-family: sans-serif !important;
    border-radius: 2em;
    position: relative;
    left: 14em;
    top: -6vh;
  }
}
/* laptop bigger portrait */
@media only screen and (max-width: 1440px) {
  .beginYapping {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-color: lightcyan;
    font-family: sans-serif !important;
    border-radius: 2em;
    position: relative;
    left: 14em;
    top: -2em;
  }
}
