.card {
  background: #fff;
  border-radius: 2px;
  height: 76vh;
  margin: 1rem;
  position: relative;
  width: 18em;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  display: inline-block;
}

.img-container {
  height: 34vh;
  overflow: hidden;
  text-align: center;
  background: #6caddc;
  box-shadow: none !important;
}

.img-container > img {
  width: 60%;
  box-shadow: none !important;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  box-shadow: none !important;
}

.content > ul {
  list-style-type: none;
  margin-left: 0;
  position: absolute;
  top: 15em;
  width: 80%;
  left: 0;
  height: -10em;
}
.content > ul {
  list-style-type: none;
  padding: 20px;
  position: absolute;
  top: 45%;
  height: 55%;
  width: 100%;
  left: 0;
}

.content > ul > li {
  /* margin-top: 18px; */
  color: black;
  box-shadow: none !important;
  position: relative;
  top: 2em;
}

.increment {
  color: #6baddd;
  font-size: 12px;
  position: absolute;
  top: 72vh;
  right: 5px;
  cursor: pointer;
  background-color: white;
}

.likeemoji {
  position: absolute !important;
  display: inline-block;
  left: 63% !important;
  font-size: 20px !important;
  top: 67vh !important;
  height: -2px;
  border-radius: 2em;
  background-color: lightblue;
}

a {
  box-shadow: none !important;
}

/* iphone 7 portrait */
@media only screen and (max-width: 414px) {
  .increment {
    color: #6baddd;
    font-size: 12px;
    position: absolute;
    top: 71vh;
    right: 8px;
    cursor: pointer;
    background-color: #b5d7e4;
    width: 72px;
    border-radius: 2em;
    height: 25px;
  }
  .img-container {
    height: 34vh;
    overflow: hidden;
    text-align: center;
    background: #6caddc;
  }
  .card {
    background: #fff;
    border-radius: 2px;
    height: 75vh;
    margin: 1rem;
    position: relative;
    width: 325px;
    -webkit-box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    display: inline-block;
  }
  .likeemoji {
    position: absolute !important;
    display: inline-block;
    left: 76% !important;
    font-size: 20px !important;
    top: 65vh !important;
    height: -2px;
    background-color: lightblue;
    border-radius: 2em;
  }
}
