.card {
  background: #fff;
  border-radius: 2px;
  height: 76vh;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  display: inline-block;
}

.card > .img-container {
  height: 34vh;
  overflow: hidden;
  text-align: center;
  background: #6caddc;
}
.card > .img-container > img {
  width: 60%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .increment {
  color: #6baddd;
  font-size: 12px;
  position: absolute;
  top: 72vh;
  right: 5px;
  cursor: pointer;
  background-color: white;
}

.card > .increment:hover {
  color: #d50000;
}

.likeemoji {
  position: absolute !important;
  display: inline-block;
  left: 60% !important;
  font-size: 20px !important;
  top: 70vh !important;
  height: -2px;
}

/* iphone 7 portrait */
@media only screen and (max-width: 414px) {
  .card > .increment {
    color: #6baddd;
    font-size: 12px;
    position: absolute;
    top: 71vh;
    right: 5px;
    cursor: pointer;
    background-color: white;
  }
  .card > .img-container {
    height: 34vh;
    overflow: hidden;
    text-align: center;
    background: #6caddc;
  }
  .card {
    background: #fff;
    border-radius: 2px;
    height: 75vh;
    margin: 1rem;
    position: relative;
    width: 325px;
    -webkit-box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    display: inline-block;
  }
  .likeemoji {
    position: absolute !important;
    display: inline-block;
    left: 85% !important;
    font-size: 20px !important;
    top: 65vh !important;
    height: -2px;
    background-color: lightblue;
  }
}
