.container-fluid .jumbotron {
  padding: 1em 24px 20vh 60px;
  height: 199px !important;
  border-radius: 2em;
  min-height: 191px;
  background-color: antiquewhite !important;
}

@media only screen and (max-width: 414px) {
  .container-fluid .jumbotron {
    padding: 1em 24px 20vh 60px;
    height: 255px !important;
    border-radius: 2em;
    min-height: 191px;
    background-color: antiquewhite !important;
  }
}
